<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"
            />
        <link rel="stylesheet" href="/assets/usuarioF_style.css" />
        <title>Novo acesso</title>
    </head>
    <body>
        <div th:replace="fragmentos"></div>
        <div class="container">
            <div class="border-bottom">
                <h1>Novo acesso</h1>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <form method="post" action="criarAcesso" th:object="${acessos}" class="form-signin w-50">
                    <label for="datalistaUsuarios" class="form-label">Informe o usuario</label>
                    <input class="mb-3 form-control" list="usuariosLista" id="datalistaUsuarios" placeholder="Digite o login">
                    <datalist id="usuariosLista">
                        <option th:each="usuario : ${usuarioList}" th:value="${usuario.login}" th:label="${usuario.login}" >
                    </datalist>

                    <label for="datalistaSala" class="form-label">Informe a sala</label>
                    <input class="mb-3 form-control" list="salaLista" id="datalistaSala" placeholder="Digite a sala">
                    <datalist id="salaLista">
                        <option th:each="sala : ${salaList}" th:value="${sala.nome}" th:label="${sala.nome}" >
                    </datalist>

                    <button class="mb-3 w-100 btn btn-lg btn-danger teste" type="submit">Criar</button>
                </form>
            </div>
        </div>
    </body>
</html>