<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Novo laboratório</title>
    </head>
    <body>
        <div th:replace="fragmentos"></div>
        <div class="container">
            <div class="border-bottom">
                <h1>Novo laboratório</h1>
            </div>
            <br>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <form method="post" action="criarLab" th:object="${sala}" class="form-signin w-75 was-validated">
                        <div class="mb-3 form-group">
                            <label for="nomeLab">Informe o nome do laboratório: </label>
                            <input th:field="*{nome}" type="text" class="form-control" id="nomeLab" placeholder="Laboratório" aria-label="Laboratório" aria-describedby="basic-addon1" required>
                        </div>
                        <button class="w-100 btn btn-danger teste" type="submit">Criar</button>
                    </form>
                </div>
                <div class="col d-flex">
                    <table class="table w-75 ">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                scope="row"
                                th:each="sala : ${salaList}"
                                >
                                <td th:text="${sala.nome}"></td>
                                <td>
                                    <span th:if="${sala.estado} == false">Fechado</span>
                                    <span th:if="${sala.estado} == true">Aberto</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>