<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Novo usuário</title>
    </head>
    <body>
        <div th:replace="fragmentos"></div>
        <div class="container">
            <div class="border-bottom">
                <h1>Novo usuário</h1>
            </div>
            <br />
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <form
                        method="post"
                        action="criarUsuario"
                        th:object="${usuario}"
                        class="form-signin w-50 was-validated"
                        >
                        <div class="mb-3 form-group">
                            <label for="loginUsuario">Digite o login:</label>
                            <input
                                th:field="*{login}"
                                type="text"
                                class="form-control"
                                id="loginUsuario"
                                placeholder="Login"
                                aria-label="Login"
                                aria-describedby="basic-addon1"
                                required
                                />
                        </div>
                        <div class="mb-3 form-group">
                            <label for="senhaUsuario">Digite a senha:</label>
                            <input
                                th:field="*{senha}"
                                type="password"
                                class="form-control"
                                id="senhaUsuario"
                                placeholder="Senha"
                                required
                                />
                        </div>
                        <button class="w-100 btn btn-danger teste" type="submit">
                            Criar
                        </button>
                    </form>
                </div>
                <div class="col d-flex">
                    <table class="table w-50 ">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Login</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                scope="row"
                                th:each="usuario : ${usuarioList}"
                                >
                                <td th:text="${usuario.id}"></td>
                                <td th:text="${usuario.login}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
