<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/fragmento_style.css">
        <title>Pagina Principal</title>
    </head>
    <body>
        <header class="container" th:fragment="cabeçalho">
            <nav class="navbar navbar-light">
                <a th:href="@{/admin}">
                    <img class="navbar-brand img-fluid" width="400" src="../images/logo-senai.png" />
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <button type="button" class="btn btn-lg btn-danger">
                            SAIR
                            <!--<span class="glyphicon glyphicon-th-list"></span>-->
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>