<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/index_style.css" />
        <title>Pagina Principal</title>
    </head>
    <body>
        <div th:replace="fragmentos "></div>
        <div class="container">
            <div class="d-flex border-bottom">
                <h1 class="mr-auto">Acessos</h1>
                <div class="ms-auto">
                    <a th:href="@{/newAcesso}">
                        <button type="button" class="btn btn-success">Novo acesso</button>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><i class="fa-solid fa-list"></i></th>
                        <th scope="col">ID</th>
                        <th scope="col">Login</th>
                        <th scope="col">Laboratorio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        scope="row"
                        th:each="acessos : ${acessoList}"
                        th:if="${acessos.verificacao} == true"
                        >
                        <td>
                            <!--<a th:href="@{/excluir/{id}(id=${acessos.id})}"><i class="fa-solid fa-trash"></i></a>-->
                            <a th:href="@{/editAcesso/{id}(id=${acessos.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td th:text="${acessos.usuario.id}"></td>
                        <td th:text="${acessos.usuario.login}"></td>
                        <td th:text="${acessos.sala.nome}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
